<h2>List: <%= @list.name %></h2>
<h2><%= render "bookmarks/form", list: @list, bookmark: @bookmark%></h2>
<h2>Movies</h2>
<div>
  <% @bookmarks.each do |bookmark| %>
    <p><%= bookmark.movie.title %></p>
    <%= image_tag bookmark.movie.poster_url %>
    <p><%= bookmark.comment %></p>
    <p>Rating: <%= bookmark.movie.rating %></p>
    <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Sure?"} do  %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  <% end %>
</div>
<%= link_to 'All lists', lists_path %>
