<h2>List: <%= @list.name %></h2>
<h2>Movies</h2>
<ul class="list-group">
  <% @list.movies.each do |movie| %>
    <li class="list-group-item"><%= movie.title %></li>
    <li class="list-group-item"><%= movie.overview %></li>
    <li class="list-group-item"><%= movie.poster_url %></li>
    <li class="list-group-item"><%= movie.rating %></li>
  <% end %>
</ul>
<%= link_to 'All lists', lists_path %>
