<% if @list.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key %>);">
    <div class="container">
      <h1>List: <%= @list.name.capitalize %></h1>
      <h1><%= render "bookmarks/form", list: @list, bookmark: @bookmark%></h1>
    </div>
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ambianceiq.com/wp-content/uploads/2021/07/movie-banner.png);">
    <div class="container">
      <h1><%= @list.name.capitalize %></h1>
      <h1><%= render "bookmarks/form", list: @list, bookmark: @bookmark%></h1>
    </div>
  </div>
<% end %>
<h2>Movies</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @bookmarks.each do |bookmark| %>
    <div class="col">
      <div class="card-product">
        <%= image_tag bookmark.movie.poster_url %>
        <div class="card-product-infos">
          <h2><%= bookmark.movie.title %></h2>
          <p><%= bookmark.comment %></p>
          <p>Rating: <%= bookmark.movie.rating %></p>
          <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Sure?"} do  %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "All lists", lists_path, class: "btn btn-flat" %>
